.game__btn {
	padding: 5px;
	margin-top: 15px;
	width: 100%;
	border: 1px solid rgb(134, 31, 160);
	border-radius: 3px;
	background-color: #fff;
	cursor: pointer;
	transition: all 0.3s;
}

.game__btn:hover {
	background-color: rgb(134, 31, 160);
	color:#fff;
	outline: 1px solid rgb(134, 31, 160);
}
